<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CRUD @ Zarar</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-dark bg-dark">
          <span class="navbar-brand mb-0 h1">CRUD Application - Admin Panel</span>
      </nav>
    </header>

    <main>

      <ul class="nav nav-tabs nav-pills mt-3 mb-5 justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="view-tab" data-toggle="pill" href="#view" role="tab" aria-controls="view" aria-selected="true">View Users</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="register-tab" data-toggle="pill" href="#register" role="tab" aria-controls="register" aria-selected="false">Add User</a>
        </li>
      </ul>

      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active container" id="view" role="tabpanel" aria-labelledby="view-tab">
          <% if (users.length > 0) { %>

            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Address</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>

              <tbody>
                <% users.forEach(user => { %>
                  <tr>
                    <td><%= user.firstName %> <%= user.lastName %> </td>
                    <td><%= user.email %></td>
                    <td><%= user.phone %></td>
                    <td><%= user.address %></td>
                    <td>
                      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#user<%= user._id %>">Edit</button>

                      <div class="modal fade" id="user<%= user._id %>" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                          <div class="modal-content">

                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>

                            <form method="POST" action="/updateUser/<%= user._id %>?_method=PUT">
                              <div class="modal-body">

                                <div class="form-row">
                                  <div class="form-group col">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" name="firstName" value="<%= user.firstName %>" required>
                                  </div>

                                  <div class="form-group col">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" name="lastName" value="<%= user.lastName %>" required>
                                  </div>
                                </div>

                                <div class="form-row">
                                  <div class="form-group col">
                                    <label>Email</label>
                                    <input type="email" class="form-control" name="email" value="<%= user.email %>" required>
                                  </div>

                                  <div class="form-group col">
                                    <label>Phone</label>
                                    <input type="text" class="form-control" name="phone" value="<%= user.phone %>" required>
                                  </div>
                                </div>

                                <div class="form-group col-13">
                                  <label>Address</label>
                                  <input type="text" class="form-control" name="address" value="<%= user.address %>" required>
                                </div>
                              </div>

                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Update</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      
                      <button class="delete btn btn-danger" data-doc="<%= user._id %>">Delete</button>
                    </td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>
          <% } %>
        </div>
        <div class="tab-pane fade container w-50" id="register" role="tabpanel" aria-labelledby="register-tab">
          <form method="POST" action="/registerUser">

            <div class="form-row">
              <div class="form-group col">
                <label>First Name</label>
                <input type="text" class="form-control" name="firstName" required>
              </div>

              <div class="form-group col">
                <label>Last Name</label>
                <input type="text" class="form-control" name="lastName" required>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col">
                <label>Email</label>
                <input type="email" class="form-control" name="email" required>
              </div>

              <div class="form-group col">
                <label>Phone</label>
                <input type="text" class="form-control" name="phone" required>
              </div>
            </div>

            <div class="form-group col-13">
              <label>Address</label>
              <input type="text" class="form-control" name="address" required>
            </div>

            <button type="submit" class="btn btn-success">Register</button>
          </form>
        </div>
      </div>

    </main>

    <footer></footer>

  </body>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  
  <script>
    const trashcan = document.querySelectorAll("button.delete");
    Array.prototype.forEach.call(trashcan, element => {
      
      element.addEventListener('click', (e) => {
      const endpoint = `/deleteUser/${element.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE'
      })
      .then(result => {
        console.log(result);
        window.location.reload();
      })
      .catch((err) => console.log(err));
      })
    });
  </script>

</html>